{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol">
                <option disabled selected>Symbol</option>
                {% for symbol in symbols %}
                <option value="{{ symbol.symbol }}">{{ symbol.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li class="flash-message {{ message[1] }}">{{ message[0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}
